# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

eln-cache/
eshell/
elpa/
history
pyim/
transient/
places
custom.el

#quelpa
quelpa/

ido.last
recentf
tree-sitter/

# cnfonts
cnfonts/

projects
projectile.cache
.cache
projectile-bookmarks.eld
\#*

session.*
org-persist